@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao sistema de gerenciamento de cadastro de caminhões.</h1>
    <p class="text-muted">Utilize o botão abaixo para começar</p>
    
    <a class="btn btn-success" asp-controller="Trucks" asp-action="Index">
        Gerenciar caminhões
    </a>

</div>
